@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(243 244 246);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #f25375;
  text-decoration: inherit;
}
a:hover {
  color: #f25375;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Arrow styles */
body h1, h2, h3, .home-p {
    font-family: "Lucida Console", Monaco, monospace;
}
    
/* Arrow & Hover Animation */
@keyframes color {
    0% {
      fill: #3b82f6;
    }
    50% {
      fill: #9fbef0;
    }
    100% {
      fill: #3b82f6;
    }
}

#more-arrows {
    width: 75px;
    height: 65px;
}

#more-arrows:hover polygon {
    fill: #3b82f6;
    transition: all .2s ease-out;
    animation-play-state: paused;
}

#more-arrows:hover polygon.arrow-bottom {
    transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
    transform: translateY(18px);
}
    
polygon {
    fill: #3b82f6;
    transition: all .2s ease-out;
}

polygon.arrow-bottom {
    animation-name: color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
}
    
polygon.arrow-middle {
    animation-name: color;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    opacity: 0.75;
}

polygon.arrow-top {
    animation-name: color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: 0.5
}